extends ../templates/base

block content
    div(class="section-about")
        div(class="section page-title")
            div(class="section-item section-item--w25 section-item--left section-item--left-10")
                div(class="section-title")
                    div(class="link link-dark section-title-item") О клинике
                    
        div(class="section")
            div(class="section-item section-item--w65 section-item--right section-item--right-10")
                div(class="section-holder")
                    img(src="../dummy/about1.jpg", class="section-img")
                    
        div(class="section")
            div(class="section-item section-item--w50 section-item--left section-item--left-10")
                div(class="page-text")
                    h1 Авторская клиника эстетической стоматологии доктора Александра Дубкова
                    
        div(class="section")
            div(class="section-item section-item--w55 section-item--right section-item--right-20")
                div(class="page-text")
                    p Стоматологическая клиникадоктора Дубкова в городе Кемерово оснащена современным оборудованием и материалами последнего поколения. Используются проверенные методы лечения. Квалифицированные сотрудники стоматологии «Улыбка» имеют большой опыт работы, регулярно повышают уровень своей квалификации.
                    h2 Safe, clean, and non-irritating. Traditional butylene glycol production has impurities at double the levels of Brontide. Clinical studies show Brontide to be non-irritating at levels up to 40%.
                    
        div(class="section")
            div(class="section-item section-item--w65 section-item--right")
                div(class="section-holder")
                    img(src="../dummy/about2.jpg", class="section-img")
                        
        div(class="section about-director")
            div(class="section-item section-item--w45 section-item--left section-item--left-10")
                div(class="page-text")
                    h1 Меня зовут Александр 
                        br 
                        | и я врач!
                    h2 доктор Дубков, руководитель клиники
                    
        div(class="section")
            div(class="section-item section-item--w45 section-item--right section-item--right-20")
                div(class="page-text")
                    p Да, это профессия-призвание, а не пустой звук. Поэтому не нужно удивляться, что у крутых специалистов слишком дорогой приём. На своё образование в год я трачу более 1 миллиона рублей. Акции, скидки — это не про мою клинику: я специалист, а не сетевой магазин. Пациентам важно получить грамотную медицинскую помощь или я не прав? Если вижу во взгляде пофигизм и лишь вопрос о стоимости, но никак ни о виде конструкции, материале для изготовления, методе работы и т.д., я скорее откажусь от работы. Для меня клиника — это мой дом, который ещё приносит и доход. Поэтому к своей работе отношусь с особым трепетом, и как бы не звучало избито, но счастливая улыбка пациента — это настоящий допинг.
                    
        div(class="section about-slider")
            div(class="section-item section-item--w65 section-item--left")
                div(class="slick-slider")
                    div(class="slick-slider-list", data-slick='{"slidesToShow": 1, "slidesToScroll": 1}')
                        div(class="slick-slider-item")
                            img(src="../dummy/about3.jpg", alt="")
                        div(class="slick-slider-item")
                            img(src="../dummy/about3.jpg", alt="")
                        div(class="slick-slider-item")
                            img(src="../dummy/about3.jpg", alt="")
                        div(class="slick-slider-item")
                            img(src="../dummy/about3.jpg", alt="")
                    div(class="slick-slider-arrow")
                    div(class="slick-slider-number")
                        div(class="slick-slider-number-prev")
                        div(class="slick-slider-number-dilimiter") &nbsp;/&nbsp; 
                        div(class="slick-slider-number-next")
                        
                        
        div(class="section")
            div(class="section-item section-item--w55 section-item--right section-item--right-20")
                div(class="page-text")
                    p Стоматологическая клиникадоктора Дубкова в городе Кемерово оснащена современным оборудованием и материалами последнего поколения. Используются проверенные методы лечения. Квалифицированные сотрудники стоматологии «Улыбка» имеют большой опыт работы, регулярно повышают уровень своей квалификации.
        
        div(class="section")
            div(class="section-item section-item--w45 section-item--left section-item--left-10")
                div(class="page-text")
                    h1 Для совершения суперспособностей нам помогает передовое оборудование
            div(class="section-item section-item--w65 section-item--right section-item--margintop section-item--farther section-item--right-10")
                div(class="section-holder")    
                    img(src="../dummy/about4.jpg", class="section-img")
