extends ../templates/base

block content
    div(class="section-cases")
        div(class="section page-title")
            div(class="section-item section-item--w25 section-item--left section-item--left-10")
                div(class="section-title")
                    div(class="link link-dark section-title-item") Кейсы
                    
        div(class="section cases-info")
            div(class="section-item section-item--w40 section-item--left section-item--left-10")
                div(class="page-text")
                    h1 Ничего так не убеждает, как примеры нашей работы 
                                    
        div(class="section")
            div(class="section-item section-item--w50 section-item--right section-item--right-10")
                div(class="briefcases-container")
                    div(class="briefcases-item")
                        div(class="briefcases-result") Результат работы 
                            a(href="#", class="link link-send link-send--bottom-reverse") До 
                            span(class="briefcases-dilimiter") / 
                            a(href="#", class="link link-send link-send--bottom-reverse") После 
                        div(class="briefcases-theme") Комплексная реабилитация пациентов c отсусвием почти всех зубов. Опора на имплантантах
                    div(class="briefcases-item")
                        div(class="briefcases-result") Результат работы 
                            a(href="#", class="link link-send link-send--bottom-reverse") До 
                            span(class="briefcases-dilimiter") / 
                            a(href="#", class="link link-send link-send--bottom-reverse") После 
                        div(class="briefcases-theme") Повторное протезирование. Ортопедическая конструкция e-max c опорой на имплантантах
                    div(class="briefcases-item")
                        div(class="briefcases-result") Результат работы 
                            a(href="#", class="link link-send link-send--bottom-reverse") До 
                            span(class="briefcases-dilimiter") / 
                            a(href="#", class="link link-send link-send--bottom-reverse") После 
                        div(class="briefcases-theme") Повторное протезирование. Ортопедическая конструкция e-max c опорой на имплантантах
                    div(class="briefcases-item")
                        div(class="briefcases-result") Результат работы 
                            a(href="#", class="link link-send link-send--bottom-reverse") До 
                            span(class="briefcases-dilimiter") / 
                            a(href="#", class="link link-send link-send--bottom-reverse") После 
                        div(class="briefcases-theme") Повторное протезирование. Ортопедическая конструкция e-max c опорой на имплантантах
                    div(class="briefcases-item")
                        div(class="briefcases-result") Результат работы 
                            a(href="#", class="link link-send link-send--bottom-reverse") До 
                            span(class="briefcases-dilimiter") / 
                            a(href="#", class="link link-send link-send--bottom-reverse") После 
                        div(class="briefcases-theme") Повторное протезирование. Ортопедическая конструкция e-max c опорой на имплантантах
