extends ../templates/base

block content
    div(class="section-cases")
        div(class="section page-title")
            div(class="section-item section-item--w25 section-item--left section-item--left-10")
                div(class="section-title")
                    div(class="link link-dark section-title-item") Кейсы
                    
        div(class="section cases-info")
            div(class="section-item section-item--w50 section-item--left section-item--left-10")
                div(class="page-text")
                    h1 Комплексная реабилитация пациентов c отсусвием почти всех зубов. Опора на имплантантах
                                    
                    
        div(class="section cases-slider")
            div(class="section-item section-item--w55 section-item--left section-item--left-10")
                div(class="slick-slider")
                    div(class="slick-slider-list", data-slick='{"slidesToShow": 1, "slidesToScroll": 1}')
                        div(class="slick-slider-item")
                            img(src="../dummy/cases.png", alt="")
                        div(class="slick-slider-item")
                            img(src="../dummy/cases.png", alt="")
                        div(class="slick-slider-item")
                            img(src="../dummy/cases.png", alt="")
                        div(class="slick-slider-item")
                            img(src="../dummy/cases.png", alt="")
                    div(class="slick-slider-arrow")
                    div(class="slick-slider-number")
                        div(class="slick-slider-number-prev")
                        div(class="slick-slider-number-dilimiter") &nbsp;/&nbsp; 
                        div(class="slick-slider-number-next")
                            
        div(class="section")
            div(class="section-item section-item--w50 section-item--right section-item--right-20")
                div(class="page-text")
                    p «После» барышня, которой вообще нельзя ни в чем отказать: солнце и то сияет не так ярко. Приятно осознавать, что к этому причастна моя работа. А тем временем, при первом нашем знакомстве пациентка стеснялась даже разговаривать. Как видите, я ещё и комплексы лечу, правда оплата повыше, чем у психотерапевта 😂 Но у меня кофе наливают и кресло удобное 🤘🏻 А тут я провёл комплексную реабилитацию с отсутствием почти всех зубов. Опора на имплантах. А у комплексов её теперь нет. Опоры в смысле.
