extends ../templates/base

block content
    div(class="section-doctor")
        div(class="section page-title")
            div(class="section-item section-item--w25 section-item--left section-item--left-10")
                div(class="section-title")
                    div(class="link link-dark section-title-item") Врачи
        
        div(class="doctor-holder")
            img(src="../dummy/doctors2.jpg", class="doctor-img")
                
        div(class="section doctor-about")
            div(class="section-item section-item--w40 section-item--left section-item--left-10")
                div(class="page-text")
                    h1 Александр
                        br
                        | Дубков
                    p Главный врач, терапевт-реставратор, ортопед
                    h2 Safe, clean, and non-irritating. Traditional butylene glycol production has impurities at double the levels of Brontide. Clinical studies show Brontide to be non-irritating at levels up to 40%.
                    p Да, это профессия-призвание, а не пустой звук. Поэтому не нужно удивляться, что у крутых специалистов слишком дорогой приём. На своё образование в год я трачу более 1 миллиона рублей. Акции, скидки — это не про мою клинику: я специалист, а не сетевой магазин. Пациентам важно получить грамотную медицинскую помощь или я не прав? Если вижу во взгляде пофигизм и лишь вопрос о стоимости, но никак ни о виде конструкции, материале для изготовления, методе работы и т.д., я скорее откажусь от работы. Для меня клиника — это мой дом, который ещё приносит и доход. Поэтому к своей работе отношусь с особым трепетом, и как бы не звучало избито, но счастливая улыбка пациента — это настоящий допинг.
        
        div(class="section doctor-certificates")
            div(class="slider-certificates")
                div(class="slick-slider")
                    div(class="slick-slider-list", data-slick='{"slidesToShow": 6, "slidesToScroll": 2}')
                        a(href="../dummy/certificate1.png", class="slick-slider-item", data-fancybox="certificate")
                            img(src="../dummy/certificate1.png", alt="")
                        a(href="../dummy/certificate2.png", class="slick-slider-item", data-fancybox="certificate")
                            img(src="../dummy/certificate2.png", alt="")
                        a(href="../dummy/certificate3.png", class="slick-slider-item", data-fancybox="certificate")
                            img(src="../dummy/certificate3.png", alt="")
                        a(href="../dummy/certificate4.png", class="slick-slider-item", data-fancybox="certificate")
                            img(src="../dummy/certificate4.png", alt="")
                        a(href="../dummy/certificate5.png", class="slick-slider-item", data-fancybox="certificate")
                            img(src="../dummy/certificate5.png", alt="")
                        a(href="../dummy/certificate6.png", class="slick-slider-item", data-fancybox="certificate")
                            img(src="../dummy/certificate6.png", alt="")
                        a(href="../dummy/certificate1.png", class="slick-slider-item", data-fancybox="certificate")
                            img(src="../dummy/certificate1.png", alt="")
                        a(href="../dummy/certificate2.png", class="slick-slider-item", data-fancybox="certificate")
                            img(src="../dummy/certificate2.png", alt="")
                        a(href="../dummy/certificate3.png", class="slick-slider-item", data-fancybox="certificate")
                            img(src="../dummy/certificate3.png", alt="")
                        a(href="../dummy/certificate4.png", class="slick-slider-item", data-fancybox="certificate")
                            img(src="../dummy/certificate4.png", alt="")
                div(class="slick-slider-arrow")
                    
        div(class="section doctor-about")
            div(class="section-item section-item--w50 section-item--left section-item--left-10")
                div(class="page-text")
                    h2 Повышение квалификации и курсы
                    ul
                        li Современный подход к лечению апикального периодонтита. Перелечивание зубов с крупными апикальными очагами". А.Болячин UpDent. Санкт-Петербург, 2016
                        li Участие в конгрессе на тему: " Искусство реставрации в концепции Био-Эмуляции". П. Базос, Д.Политано, Л.Перейра DrClass. Москва, 2016
                        li Участник семинара :" Лечение заболеваний пародонта в комплексной реабилитации стоматологических больных" . Учебный центр Шториной Г.Б. Санкт-Петербург, 2014
                        li Участник мастер-класса по теме: " Лазерная стоматология. Преимущество применения диодного лазера в практике врача-стоматолога-хирурга, ортопеда, пародонтолога и терапевта". СКВ технологии. AMD LASERS. Санкт-Петербург, 2014
                        li Участник лекционно-практического семинара: "Заболевания тканей пародонта- эффективная клиническая тактика и выбор схемы лечения" К.м.н. Корытнюк А.Я. Екатеринбург, 2012
                        li Участник мастер-класса: " Восстановление передней группы зубов. Реконструкция на примере одного зуба." Компания "Micerium" Новосибирск, 2011
                        li Участник семинара: "Современные тенденции эстетико-функционального восстановления фронтальной и жевательной группы зубов" К.м.н. Салова А.В. Омск, 2010
                        li Участник семинара: "Применение прибора "Vector" при лечении стоматологических заболеваний. Р.Тренкеншу, Германия. Участник мастер-класса: "Эндодонтическое лечение и адгезивная реставрация: ключи к успеху".Проф. А.Черутти, Италия. Екатеринбург, 2009
                        li Участник семинара: "Зболевания пародонта- эффективная клиническая тактика и выбор схемы лечения". К.м.н., доц.КМАПО Корытнюк А.Я. Омск. "Американ Дентал Академи, 2008"
