extends ../templates/base

block content
    div(class="section-doctors")
        div(class="section page-title")
            div(class="section-item section-item--w25 section-item--left section-item--left-10")
                div(class="section-title")
                    div(class="link link-dark section-title-item") Врачи
                    
        div(class="section")
            div(class="section-item section-item--w65 section-item--right section-item--right-10")
                div(class="section-holder")
                    img(src="../dummy/doctors1.jpg", class="section-img")
                    
        div(class="section")
            div(class="section-item section-item--w50 section-item--left section-item--left-10")
                div(class="page-text")
                    h1 Наша команда позволяет решать любые сложные задачи в стоматологии
                    
        div(class="section")
            div(class="section-item section-item--w90 section-item--left section-item--left-10")
                div(class="doctors-list")
                    a(href="doctors-detail.html", class="link link-dark doctors-item")
                        div(class="doctors-holder")
                            img(src="../dummy/doctors2.jpg", alt="")
                        div(class="doctors-name") Александр Дубков
                        div(class="doctors-prof") Главный врач, терапевт-реставратор, ортопед
                        
                    a(href="doctors-detail.html", class="link link-dark doctors-item")
                        div(class="doctors-holder")
                            img(src="../dummy/doctors3.jpg", alt="")
                        div(class="doctors-name") Константин Шульгин
                        div(class="doctors-prof") Хирург-имплантолог

                    a(href="doctors-detail.html", class="link link-dark doctors-item")
                        div(class="doctors-holder")
                            img(src="../dummy/doctors4.jpg", alt="")
                        div(class="doctors-name") Алена Зубова
                        div(class="doctors-prof") Администратор
                
                    a(href="doctors-detail.html", class="link link-dark doctors-item")
                        div(class="doctors-holder")
                            img(src="../dummy/doctors2.jpg", alt="")
                        div(class="doctors-name") Александр Дубков
                        div(class="doctors-prof") Главный врач, терапевт-реставратор, ортопед
