extends ../templates/base

block content
    div(class="section section--height")
        div(class="section-item section-item--w50 section-item--right-10 section-item--left-10")
            div(id="form-result", class="form-popup")
                div(class="page-text")
                    h1 Ваша заявка принята!
