extends ../templates/base

block content
    div(class="intro section section--height")
        div(class="section-item section-item--w35")
            div(class="section-holder")
                img(src="../dummy/1.jpg", class="section-img")
        div(class="section-item section-item--w60")
            div(class="page-text")
                div(class="logo", style="background: #8bfffc")
                h1 Авторская клиника эстетической стоматологии доктора Александра Дубкова
    div(class="section")
        div(class="section-item section-item--w35")
            div(class="section-title")
                a(href="#", class="link link-dark link-dark--bottom section-title-item") О клинике
        div(class="section-item section-item--w60")
            div(class="page-text")
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et earum quisquam, praesentium itaque quidem saepe dicta.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et earum quisquam, praesentium itaque quidem saepe dicta.
