extends ../templates/base

block content
    div(class="section-reviews")
        div(class="section page-title")
            div(class="section-item section-item--w25 section-item--left section-item--left-10")
                div(class="section-title")
                    div(class="link link-dark section-title-item") Отзывы    
        
        div(class="reviews-holder")
            img(src="../dummy/reviews.jpg", class="reviews-img")
                
        div(class="section reviews-info")
            div(class="section-item section-item--w40 section-item--left section-item--left-10")
                div(class="page-text")
                    h1 Ничего так не не приятно нам, как отзывы о нашей работе
                    div(class="reviews-list")
                        div(class="reviews-item")
                            div(class="reviews-name") Ирина Викторовна
                            div(class="reviews-date") 5 декабря 2018
                            div(class="reviews-text") Удивлена и поражена клиникой доктора Дубкова. Я пришла на консультацию по поводу исправления кривого зуба- и была в восторге от приема. Все время думал, как хорошо, что есть такие специалисты, как здесь. И как надо любить свою работу и своих клиентов, чтобы создать им такой комфорт. Спасибо вам!
                        div(class="reviews-item")
                            div(class="reviews-name") Максим
                            div(class="reviews-date") 10 ноября 2018
                            div(class="reviews-text") С детства боюсь стоматологов, но зубная боль переборола. Друзья посоветовали обратиться в клинику Курова Игоря Анатольевича. По острой боли приняли быстро. Принимала меня терапевт Рожкова Татьяна Геннадьевна. Все сделала на высшем уровне. Все лечение ведёт только под микроскопом.Могу сказать, что нашёл свою клинику и своего врача.  
                        div(class="reviews-item")
                            div(class="reviews-name") Валерия
                            div(class="reviews-date") 24 октября 2018
                            div(class="reviews-text") Хотела бы выразить огромную благодарность лучшему хирургу Игорю Анатольевичу! Самое безболезненное удаление зуба в моей жизни!
                        div(class="reviews-item")
                            div(class="reviews-name") Ирина Викторовна
                            div(class="reviews-date") 5 декабря 2018
                            div(class="reviews-text") Удивлена и поражена клиникой доктора Дубкова. Я пришла на консультацию по поводу исправления кривого зуба- и была в восторге от приема. Все время думал, как хорошо, что есть такие специалисты, как здесь. И как надо любить свою работу и своих клиентов, чтобы создать им такой комфорт. Спасибо вам!
                            
                                    
