extends ../templates/base

block content
    div(class="section-services")
        div(class="section page-title")
            div(class="section-item section-item--w25 section-item--left section-item--left-10")
                div(class="section-title")
                    div(class="link link-dark section-title-item") Услуги
        
        div(class="services-holder")
            img(src="../dummy/doctors6.jpg", class="doctor-img")
        
        div(class="section services-info")
            div(class="section-item section-item--w40 section-item--left section-item--left-10")
                div(class="page-text")
                    h1 Спектр услуг включает все виды стоматологического обслуживания
                    
                    div(class="services-info-item")
                        h2 Профилактика и отбеливание
                        ul
                            li ультразвуковая чистка
                            li процедура AirFlow
                            li все виды отбеливания
                    
                    div(class="services-info-item")
                        h2 Хирургическая стоматология
                        ul
                            li имплантация зубов
                            li все виды костных и мягко-тканных пластик
                            li удаление зубов любой сложности
                    
                    div(class="services-info-item")
                        h2 Терапевтическая стоматология
                        ul
                            li эстетическая реставрация по адгезивной технике
                            li пломбирование любых полостей
                            li эндодонтия (лечение каналов)
                    
                    div(class="services-info-item")
                        h2 Ортопедическая стоматология
                        ul
                            li микропротезирование керамическими реставрациями
                            li виниры
                            li съемное протезирование любой сложности
                    
                    div(class="services-info-item")
                        h2 Ортодонтия
                        ul
                            li лечение брекет системами
                            li лечение ортодонтическими каппами
